.layerList {
	float: right;
	border: 1px solid black;
	width: 200px;
}

.layerHandle {
	width: 100%;
}

.selectedLayerHandle {
	color: white;
	background: black;
}

.imageSelected {
	border: 1px dashed black;
}
