.lists {
	float: right;
}

.layerList {
	border: 1px solid black;
	width: 200px;
}

.selectionList {
	border: 1px solid black;
	width: 200px;
}

.layerHandle {
	width: 100%;
}

.selectionHandle {
	width: 100%;
}

.selectedHandle {
	color: white;
	background-color: black;
}

.imageSelected {
	border: 1px dashed black;
}

.optionToggler, .exportHandle {
	cursor: pointer;
}
